#imgHeader {
    min-width:100%;
	max-width:100%;
    margin-bottom:15px
}

.mainTitle {
    color:#6E6E6E;
    text-align:center;
	margin-bottom:15px;
	font-weight:bold;

	}

#padding {
	margin-left:20px;
	margin-right:20px;
}

#center {
	text-align:center;
}

#gras{
	font-weight:bold;
}
