html, body {
    height: 100%;
}

.page-header {
    background-color: #E4E0DD;
    background-image: url(../images/header-TSE.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    min-height: 132px;
    max-height: 132px;
    border: none;
}

.page-header .logo {
    background-image: url(../images/logo-TSE.png);
    background-repeat: no-repeat;
    background-position: left center;
    float: left;
    margin-left: 20px;
    height: 132px;
    width: 370px;
}

.page-header .smallScreen_logo {
    background-image: url(../images/logo-TSE-reduit.png);
    background-repeat: no-repeat;
    background-position: left center;
    float: left;
    margin-left: -15px;
    height: 132px;
    width: 320px;
}

.page-header h2 {
    margin: 47px 0 0 50%;
    color: floralwhite;
    text-shadow: 2px 2px 2px #000;
}

.page-footer {
    background-color: #BE1A25;
    background-image: url(../images/footer.png);
    background-repeat: repeat-x;
    background-position: center top;
    height: 150px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    padding: 30px 10px 10px 0px;
    margin: 10px 0 0 0;
}

.panel-info > .panel-heading {
    color: #FFF;
    background-color: #337AB7;
    border-color: #337AB7;
}

.panel-default > .panel-heading {
    color: #FFF;
    background-color: #337AB7;
    border-color: #337AB7;
}

.panel-default {
    border-color: #337AB7;
}

.list-group-item {
    padding: 10px 0px;
    border: 1px solid #337AB7;
}

.panel-info {
    border-color: #337AB7;
}

.btn-info {
    color: #FFF;
    background-color: #337AB7;
    border-color: #337AB7;
}

.panel-body {
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0px
}

.input-group {
    margin-bottom: 25px
}

.form-group {
    margin-top:10px
}

.btn-default {
    color: #787878;
    background-color: #E4E0DD;
    border-color: #E4E0DD;
}

.btn-xs {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom : 30px;
    margin-top : 30px;
    font-size: 20px;
    line-height: 1;
}

.col-sm-8, .col-md-8 {
    padding-right: 0px;
    padding-left: 0px;
}

.alert {
    margin-top: 20px;
    text-align: center;
}

.alert-info {
    background-color: #337AB7;
    border-color: #337AB7;
    color:white;
    font-size: 18px;
}

.alert-danger {
    background-color: #D9534F;
    border-color: #D9534F;
    color:white;
    font-size: 18px;
}

.alert-success {
    background-color: #5CB85C;
    border-color: #5CB85C;
    color:white;
    font-size: 18px;
}

.btn-block+.btn-block {
    margin-top: 35px;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    margin-top: 15%;
    background: #fff;
    padding-bottom: 10px;
}

#messageUtilisateur {
    resize: none;
    overflow: hidden;
}

#messageAdmin {
    resize: none;
    overflow: hidden;
}

#nomSalon {
    resize: none;
    overflow: hidden;
}


#tchat {
    display: none;
}

#loginbox {
    margin-top:20px;
}

#signupbox {
    display:none; 
    margin-top:20px;
}

#connect {
    float:right;
    font-size: 75%;
    position: relative; 
    top:-15px;
}

#inscription {
    float:right;
    font-size: 85%; 
    position: relative; 
    top:-10px;
}

#signinlink {
    color:white;
}

#panel-body_connexion {
    padding-top:25px;
}

#panel-body_connexion_2 {
    padding-top:15px;
}

#account {
    border-top: 1px solid#337AB7;
    padding-top:15px; 
    font-size:85%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -160px;
    padding: 0 0 160px;
}

#padding {
    margin-left:20px;
    margin-right:20px;
}

#center {
    text-align:center;
}

#smallTitle {
    text-align:center;
    color: gray;
}

#zone_tchat {
    margin: 20px 0;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

#zone_tchat_admin {
    margin: 20px 0;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

#zone_submit {
    margin-bottom: 20px;
}

#panel-body_deconnexion {
    margin: 20px 0px 10px;
}

#deconnexion_oui {
    margin-right: 15px;
    margin-left: 15px;
}

#deconnexion {
    margin-top:20px;
}

#boutonEnvoi {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

#boutonEnvoiAdmin {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    margin: 15px 0px;
}

#adminDisplay {
    border-bottom: 1px solid #D5DBE1;
    padding-bottom : 15px;
    line-height : 1.9;
}

@media all and (max-width: 992px) {
    .wideScreen {
        display: none;
    }

    #zone_tchat {
        height:200px;
    }

    #zone_tchat_admin {
        height: 200px;
    }

    #boutonEnvoi {
        margin: 15px 0px;
        float: right;
    }
}

@media all and (min-width: 992px) {
    .smallScreen {
        display: none;
    }
}

@media all and (min-width: 450px) {
    .smallScreen_logo {
        display: none;
    }
}

@media all and (max-width: 450px) {
    .logo {
        display: none;
    }

    .btn {
        font-size: 14px;
    }
}
